.container {
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.list-horizontal {
  //padding: 0;

  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}

.active {
  font-weight: bold !important;
}
